@import "tailwindcss";
/* Mobile Drawer Slide Effect */
.mobile-drawer {
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
.mobile-drawer.open {
  transform: translateX(0);
}

.footer-section {
  background-image: url('./assets/ft.png');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.footer-overlay {
  background: rgba(0, 0, 0, 0.9); /* blue overlay */
  z-index: 0;
}

.footer-section .container {
  z-index: 1;
  position: relative;
}




body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #333;
}

.nav-link {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.3px;
}

.nav-logo {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.2px;
}

.nav-btn {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}
